.accordion {
    margin:10px 0;
    border: 1px solid $border-color;
    .accordion-content {
        .accordion-title {
            cursor:pointer;
            font-weight: bold;
            background-color: $accordion-title-bgcolor;
        }
        .accordion-text {
            display: none;
            background-color: $accordion-text-bgcolor;
            &.active {
                display:block;
            }
        }
        .accordion-title,.accordion-text {
            padding:10px;
            border-bottom: 1px solid $border-color;
        }
    }
}
