.alert {
	padding:1rem;
	color:$alert-bgcolor;
    @include clearfix;
	&.alert-info {
		background-color: $info-color;
	}
	&.alert-warning {
		background-color:$warning-color;
		color:$black;
	}
	&.alert-success {
		background-color: $success-color;
	}
	&.alert-error {
		background-color: $danger-color;
	}
    a.close {
        float:right;
    }
}
