// BRAND Colors
$color-facebook:#3864A3;
$color-twitter:#2AA9E0;
$color-google:#4285F3;
$color-googleplus:#EA4335;

.bg-facebook {
    background-color: $color-facebook;
}
.bg-twitter {
    background-color: $color-twitter;
}
.bg-google {
    background-color: $color-google;
}
.bg-googleplus {
    background-color: $color-googleplus;
}
