ul,ol {
    &.breadcrumbs,&.nav-path,&.navpath {
        @include no-style-list;
        @include clearfix;
        background-color: $breadcrumbs-bgcolor;
        padding:10px 0;
        li {
            float:left;
            a {
                color:$breadcrumbs-link-color;
                font-size:.8rem;
                padding:0 5px 0 0;
                &:before {
                    content:" / ";
                }
                &:hover {
                    color:$breadcrumbs-link-hover-color;
                    &:before {
                        color:$breadcrumbs-link-color;
                    }
                }
            }
            &:first-child {
                a {
                    padding-left: 10px;
                    &:before {
                        content:"";
                    }
                }
            }
        }
    }
}
