.card {
    margin:10px 0;
    border:1px solid $border-color;
    .card-content {
        padding:10px;
        .card-title {
            font-size:1.3rem;
            margin:10px 0;
        }
        .card-subtitle {
            @extend .muted;
        }
        .card-text {
        }
    }
    .card-img {
        img {
            @include responsive-img;
        }
    }
    // &.card-fixed {
    //     height:400px;
    //     overflow: hidden;
    // }
}
