ul,ol {
    &.collection {
        @include no-style-list;
        border:1px solid $border-color;
        li {
            padding:5px;
            display: block;
            border-bottom:1px solid $border-color;
            & > a,.collection-content {
                display: block;
                padding:10px;
            }
            &:last-child {
                border-bottom: 0;
            }
        }
    }
}
