form,.form {
    label {
        display: block;
        // font-weight: bold;
        padding:0;
        margin:0;
        cursor:pointer;
        font-size: .8rem;
        i {
            margin-right: 1rem;
        }
        &.radio,&.checkbox {
            font-size: inherit;
            font-weight: normal;
            display: inline;
            cursor:pointer;
            margin-right: 1rem;
            input[type=checkbox],
            input[type=radio] {
                margin-right: .5rem;
                cursor:pointer;
            }
        }
    }

    input[type="checkbox"],
    input[type="radio"]
    {
        cursor:pointer;
    }

    input[type=text],
    input[type=password],
    input[type=email],
    input[type=url],
    input[type=time],
    input[type=week],
    input[type=tel],
    input[type=search],
    input[type=month],
    input[type=date],
    input[type=datetime],
    input[type=number],
    textarea
    {
        background: transparent;
        // cursor:pointer;
        @include border-box;
        display: inline-block;
        // line-height: 18px;
        width: 100%;
        border:0;
        padding:.5rem 0;
        border-bottom: 1px solid darken($border-color,10%);
        &:focus {
            border-bottom:1px solid $primary-color;
        }
        @include medium-and-down()
        {
            border:0;
            border-bottom:1px solid $border-color;
            &:focus {
                border:0;
                border-bottom: 1px solid $primary-color;
            }
        }
        &,select {
            &:focus,&:active {
                outline:0;
            }
        }
    }

    // TODO fix select's option seems bigger than container at 100% width
    select {
        -moz-appearance:none !important;
        -webkit-appearance:none !important;
        background: transparent;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+");
        background-repeat: no-repeat;
        background-position: 100% center;
        // background-color: #fff;

        padding:.5rem;
        // display: block;
        width: 100%;
        // margin:auto;
        line-height: 16px;
        @include border-box;
        border:0;
        border-bottom: 1px solid $border-color;
        &:focus,&:active {
            outline: 0;
        }
    }

    small.help {
        color:$grey;
        display:block;
    }

    input[type=range]
    {
        @include border-box;
        width: 100%;
    }
}
