@import "grid_mixins";
.container {
    @include container;
}

.container-fluid {
    @include fluid-container;
}

.container-full {
    @include full-container;
}

.row {
    @include row;
    .col {
        @include column;

        // mobile columns
        $i:1;
        @for $i from 1 through 12 {
            &.s#{$i} {
                @include small-column($i);
            }
        }
        // mobile-offset
        $i:1;
        @for $i from 1 through 12 {
            &.offset-s#{$i} {
                @include small-column-offset($i);
            }
        }

        // Medium columns
        @include medium-and-up {
            $i:1;
            @for $i from 1 through 12 {
                &.m#{$i} {
                    @include medium-column($i);
                }
            }
            $i:1;
            @for $i from 1 through 12 {
                &.offset-m#{$i} {
                    @include medium-column-offset($i);
                }
            }
        }

        @include large-and-up {
            $i:1;
            @for $i from 1 through 12 {
                &.l#{$i} {
                    @include large-column($i);
                }
            }
            $i:1;
            @for $i from 1 through 12 {
                &.offset-l#{$i} {
                    @include large-column-offset($i);
                }
            }
        }
    }
}
