.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}

.text-small {
    font-size: .8rem;
}

.text-italic {
    font-style: italic;
}

.right {
    float:right;
}
.left {
    float:left;
}

.truncate {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.meta {
    font-size: .8rem;
	color:$muted-color;
}

.muted {
    color:$muted-color;
}

ul,ol {
    &.no-style-list {
        @include no-style-list
    }
}
