// Rola doesn't have any modal component (yet). This styles
// is to be applied on jquery-modal.
.modal {
    display: none;
    width: 400px;
    background: #fff;
    padding: 15px 30px;
    border-radius: 2px;
    box-shadow: 0 0 10px #000;
}
