ul,ol {
    &.nav-vertical {
        @include no-style-list;
        li {
            a {
                display: block;
                padding:10px;
                &:hover {
                    color:$nav-hover-color;
                    background-color: $nav-hover-bgcolor;
                }
            }
        }
    }

    &.nav-horizontal {
        @extend .nav-vertical;
        @include clearfix;
        li {
            float:left;
        }
    }

    &.nav-sub,&.sub-nav,&.nav-sub-nav {
        @extend .nav-horizontal;
        background-color: $sub-nav-bgcolor;
        color:$sub-nav-color;
        font-size: .8rem;
        li {
            padding:5px;
            a {
                padding:1px 5px;
                color:$sub-nav-link-color;
                &:hover {
                    color:$sub-nav-link-hover-color;
                    background-color: transparent;
                }
            }
            &.active {
                a {
                    background-color: $sub-nav-link-active-bgcolor;
                    color:$sub-nav-link-active-color;
                }
            }
            &.title {
                a {
                    cursor:default;
                    font-weight: bold;
                    &:hover {
                        color:$sub-nav-color;
                    }
                }
            }
        }
    }
}
.links {
    a {
        display: inline-block;
        margin-right: 10px;
    }
}
