// TODO move all borders to a element instead li
ul,ol {
    &.pagination {
        @include no-style-list;
        @include clearfix;
        margin:10px 0;
        font-size: .9rem;
        li {
            float:left;
            a {
                display:block;
                padding:10px 20px;
                &:hover {
                    background-color: $primary-color;
                    color:$white;
                    border-color: $primary-color;
                }
            }
            &.active {
                a {
                    background-color: $primary-color;
                    color:$white;
                }
            }
        }
    }
}
