.panel {
    margin:1rem 0;
    background-color: $panel-default-bgcolor;
    border-width: 1px;
    border-style: solid;
    border-color: $border-color;
    &.panel-padded {
        padding:$panel-padding;
    }
    &.panel-info {
        border-color: $info-color;
        .panel-title {
            background-color: $info-color;
            color:$white;
            .panel-toggle {
                color:$white;
            }
        }
    }
    &.panel-success {
        border-color: $success-color;
        .panel-title {
            background-color: $success-color;
            color:$white;
            .panel-toggle {
                color:$white;
            }
        }
    }
    &.panel-warning {
        border-color: $warning-color;
        .panel-title {
            background-color: $warning-color;
        }
    }
    &.panel-danger {
        border-color: $danger-color;
        .panel-title {
            background-color: $danger-color;
            color:$white;
            .panel-toggle {
                color:$white;
            }
        }
    }
    .panel-title {
        padding:$panel-padding;
        background-color: $border-color;
        font-weight: bold;
        @include clearfix;
        .panel-toggle {
            display:block;
            // padding:1rem;
            float:right;
            color:$black;
        }
    }
    .panel-content
    {
        padding:$panel-padding;
    }
}
