// Without Tab container
ul,ol {
    &.nav-tabs {
        @extend .nav-horizontal;
        border-bottom: 1px solid $link-color;
        li {
            a {
                &:hover {
                    background-color: lighten($link-color,40%);
                }
            }
            &.active {
                a {
                    background-color: $link-color;
                    color:$white;
                }
            }
        }
    }
}

// With Tab container
.tab-container {
    @include clearfix;
    ul,ol {
        &.nav-tabs {
            @extend .nav-horizontal;
            border-bottom: 1px solid $link-color;
            li {
                a {
                    &:hover {
                        background-color: lighten($link-color,40%);
                    }
                }
                &.active {
                    a {
                        background-color: $link-color;
                        color:$white;
                    }
                }
            }
        }
    }
    &.tab-vertical {
        ul,ol {
            &.nav-tabs {
                float:left;
                width: 20%;
                max-width: 20%;
                border-bottom: 0;
                li {
                    float:none;
                    border-bottom: 1px solid $border-color;
                }
            }
        }
        .tab-contents {
            float:left;
            width:80%;
            max-width:80%;
            .tab-content {
                padding-left:1rem;
            }
        }
    }
}
