body {
    font-family:$font-family;
    font-size:$font-size;
    color:$color;
    line-height: $line-height;
    background-color: $background-color;
}

a {
    color:$link-color;
    text-decoration: none;
    &:hover {
        color:$link-color-hover;
    }
}

hr {
    border:0;
    border-top: 1px solid $border-color;
}

h1,h2,h3,h4,h5,h6 {
    font-family:$header-font-family;
    small {
        font-weight: normal;
        color:$grey;
    }
}

blockquote {
    margin:0;
    // padding:0;
    border-left: 5px solid $border-color;
    padding:.5rem 1rem;
}

code,pre {
    color:$code-color;
}

pre {
    padding:10px;
    background-color: $grey-lighten-4;
}
