// TODO add !default to each variables

// default Colors
$primary-color:$blue !default;
$info-color:$blue !default;
$warning-color:$yellow !default;
$danger-color:$red !default;
$success-color:$green !default;

// font related
$font-family:Arial,helvetica,sans-serif !default;
$header-font-family:"Open Sans",Arial,helvetica,sans-serif !default;
$font-size:.9rem !default;
$color:#444444 !default;
$line-height:1.5rem !default;

// fonts
$font-roboto-path:"../fonts/roboto/" !default;
$font-opensans-path:"../fonts/opensans/" !default;

// links
$link-color:$blue !default;

// media query breakpoint
$small:600px !default;
$small-up:$small+1px !default;
$medium:992px !default;
$medium-up:$medium+1px !default;
$large:1200px !default;
$large-up:$large+1px !default;

// grid
$gutter:1.5rem !default;
$columns:12 !default;

// border
$border-color:$grey-lighten-2 !default;

// navbar
$navbar-background-color:$blue !default;
$navbar-text-color:$white !default;
$navbar-link-color:$white !default;
